.playlist-list-container{
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
}

.playlist-type-spotify{
    position: absolute;
    right: 0;
    background-position: 640px top;
    background-size: 40%;
    opacity: 0.1;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/1/19/Spotify_logo_without_text.svg/2048px-Spotify_logo_without_text.svg.png);
}

.playlist-title{
    text-align: left;
    max-width: 70%;
    overflow: hidden; /* Hide the text exceeding the maximum width */
    text-overflow: ellipsis; /* Display three dots (...) when text overflows */
}

.playlist-list form{
    margin: initial;
    padding: 0.5rem 1rem;
}

.playlist-list {
  border-radius: 10px;
  background: var(--g-block);
  border: solid 1.5px #5b90db4a;
  width: 100%;
  color: #fff;
  min-height: 10vh;
}

.playlist-details{
    position: relative;
    display: flex;
    border-bottom: 1px solid #2c4b7f;
    align-items: center;
    padding: 1rem;
}

.playlist-details-date{
    flex-grow: 1;
    text-align: right;
    font-size: 0.75rem;
}

.playlist-content-list{
    font-size: 0.75rem;
    box-shadow: inset 0px 9px 20px 5px #0000006b;
    background-color: #0000005e;
    /* min-height: 80%; */
}

.playlist-content-item:hover {
    background: #4c71d11f;
    border: solid 1px #ffffff4a;
}

.playlist-content-item .invisible{
position: absolute;
width: 100%;
left: 0;
top: 0;
height: 100%;
z-index: 0;
background: none;
outline: none;
border: none;
cursor: pointer;
}
.playlist-content-item{
    position: relative;
    cursor: pointer;
    transition: background-color, border 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #2c4b7f;
}

.playlist-content-item-details{
    display: flex;
    z-index: 1;
    align-items: center;
}

.playlist-expand{
    text-align: center;
    font-size: 0.75rem;
    background: #0919318f;
    padding: 0.5rem;
}

.playlist-details-main img{
    width: 8rem;
    height: 8rem;
    flex: 1;
    margin-right: 1rem;
}

.playlist-details-main-text {
    flex: 4;
}

.playlist-details-main{
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
}

.library-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 0fr));
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 13px;
    grid-row-gap: 13px;
}

.library-container .playlist-details-main img {
    width: 5rem;
    height: 5rem;
}

.download-indicator {
    z-index: 1;
    width: 42px;
    max-width: 42px;
  }
  .download-indicator .load-bar {
    background: #3a3a8dc9;
    height: 6px;
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  .download-indicator .load-bar .progress {
    opacity: 1;
    width: 0%;
    background: #ffffff5e;
    height: 100%;
    position: absolute;
    top:0;
    right:100%;
    bottom:0;
    left:0;
    width:0;
  }

  .download-indicator .load-bar .progress.pending{
    animation:borealisBar 0.7s cubic-bezier(0.71, 0.2, 1, 0.85) infinite;
  }
  
  @keyframes borealisBar {
    0% {
      left:0%;
      right:100%;
      width:0%;
    }
    10% {
      left:0%;
      right:75%;
      width:25%;
    }
    90% {
      right:0%;
      left:75%;
      width:25%;
    }
    100% {
      left:100%;
      right:0%;
      width:0%;
    }
  }