.playlist-list-container{
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
}

.playlist-title{
    text-align: left;
}

.playlist-list {
  border-radius: 10px;
  background: var(--g-block);
  border: solid 1.5px #5b90db4a;
  width: 100%;
  color: #fff;
  min-height: 10vh;
}

.playlist-details{
    display: flex;
    border-bottom: 1px solid #2c4b7f;
    align-items: center;
    padding: 1rem;
}

.playlist-details-date{
    flex-grow: 1;
    text-align: right;
    font-size: 0.75rem;
}

.playlist-content-list{
    font-size: 0.75rem;
    overflow-y: auto;
    box-shadow: inset 0px 9px 20px 5px #0000006b;
    background-color: #0000005e;
    max-height: 230px;
    /* min-height: 80%; */
}

.playlist-content-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #2c4b7f;
}

.playlist-content-item-details{
    display: flex;
    align-items: center;
}

.playlist-expand{
    text-align: center;
    font-size: 0.75rem;
    background: #0919318f;
    padding: 0.5rem;
}

.playlist-details-main img{
    width: 8rem;
    height: 8rem;
    margin-right: 1rem;
}

.playlist-details-main{
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
}

.library-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 0fr));
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 13px;
    grid-row-gap: 13px;
}

.library-container .playlist-details-main img {
    width: 5rem;
    height: 5rem;
}