.splash {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.splash-logo {
    opacity: 0;
    position: relative;
    overflow: hidden;
    animation: slideIn 1.2s forwards, fade 0.2s forwards 0.4s;
}

.logo {
    max-width: 450px;
}

.splash .status-text{
    animation: text-in 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.splash .status-text.change{
    animation: text-out 1.6s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.splash .status-wrapper {
    width: 100%;
    margin-top: -20px;
    text-align: center;
    min-height: 200px;
}

.splash .status-wrapper p{
    min-height: 22px;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 4px solid #ffffff;
    border-top: 4px solid transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-top: 20px;
}

/**
 * ----------------------------------------
 * animation tracking-in-expand-fwd-top
 * ----------------------------------------
 */
 @keyframes text-in {
    0% {
      transform: translateY(-80px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

@keyframes text-out {
    0% {
      transform: translateY(0px);
      opacity: 1;
    }
    20% {
      opacity: 0.4;
    }
    50% {
      transform: translateY(80px);
      opacity: 0;
    }
    100% {
      opacity: 0;
      transform: translateY(0px);
    }
  }

.upload-container {
    border: dotted 2px var(--c-stellar);
    background: var(--g-nav-hov);
    padding: 2rem;
    border-radius: 0.5rem;
    text-align: center;
}
.upload-icon {
    background-color: #1F2937; /* Even darker circle */
    color: white;
    padding: 0.6rem;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
}
.upload-text {
    color: #9CA3AF;
    margin-top: 0.5rem;
}

@keyframes slideIn {
    0% {
        left: -40px;
    }
    100% {
        left: 0px;
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}