.splash {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.splash-logo {
    opacity: 0;
    position: relative;
    overflow: hidden;
    animation: slideIn 1.2s forwards, fade 0.2s forwards 0.4s;
}

.logo {
    max-width: 450px;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 4px solid #ffffff;
    border-top: 4px solid transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-top: 20px;
}

.upload-container {
    border: dotted 2px var(--c-stellar);
    background: var(--g-nav-hov);
    padding: 2rem;
    border-radius: 0.5rem;
    text-align: center;
}
.upload-icon {
    background-color: #1F2937; /* Even darker circle */
    color: white;
    padding: 0.6rem;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
}
.upload-text {
    color: #9CA3AF;
    margin-top: 0.5rem;
}

@keyframes slideIn {
    0% {
        left: -40px;
    }
    100% {
        left: 0px;
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}



.upload-container .cover {
    max-width: 250px;
    flex: 1;
    border: solid 2px var(--c-stellar);
}

.upload-container {
    display: flex;
    gap: 4%;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.upload-container .info {
    flex: 3;
    display: flex;
    gap: 10px;
    align-items: center;
    flex-flow: row wrap;
    text-align: left;
    font-size: 0.9em;
    justify-content: flex-start;
}

.upload-container .info input {
    padding: 5px;
    height: fit-content;
    width: 210px;
    margin: 0;
    font-size: 0.8em;
}