.navbar{
    position: fixed;
    z-index: var(--z-index-navbar);
    z-index: 0;
    top: 0px;
    right: 0;
    width: calc(100% - 100px);
    background-color: #ffffff07;
    border-bottom: solid 1px var(--c-dgray);
    padding: 14px 0;
    height: 70px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.navbar a, a.alt {
    font-family: Kross Neue Grotesk;
    font-size: 0.85em;
    font-weight: 900;
    margin: 0 20px;
    letter-spacing: -0.02em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--c-white);
    transition: color 0.07s ease-out;
}

.navbar a:hover, a.alt:hover{
    color: var(--c-stellar);
}

.stellar-logo{
    width: 65px;
    height: 76px;
    display: block;
    background-image: var(--img-logo);
    background-size: 100%;
    background-position: center;
}

.navbar a.navbar__logo--sm{
    display: block;
    width: 48px;
    height: 48px;
    background-image: var(--img-logo);
    background-size: 100%;
    background-position: center;
}

footer.footer{
    border-top: solid 1px #3078dc23;
    min-height: 10em;
    color: var(--c-white);
    background: var(--g-bg);
    backdrop-filter: blur(7px);
    padding: 3% 1% 0 0;
}

footer.footer .content{
    padding: 1% 3% 5% 2%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}

footer.footer .content > .logo{
    align-self: baseline;
    flex: 1;
}

footer.footer .content > .logo a{
    margin: 0 auto;
}

footer.footer .content > .links{
    flex: 4;
    padding-left: 20px;
    border-left: solid 1px var(--c-stellar);
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    align-items: flex-start;
    gap: 6em;
}

footer.footer .content > .links > div {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    text-align: left;
    align-items: flex-start;
}

footer.footer .content > .links > div h3 {
    margin-top: 0;
}

footer.footer .content > .links > div a{
    text-align: left;
    margin: 15px 0;
}

footer.footer .additional{
    border-top: solid 1px #3078dc23;
    padding: 5px 5%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.navbar .profilepic{
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.navbar .profilepic img {
    object-fit: cover;
    border-radius: 50%;
    height: 100%;
}


header {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    padding: 15px;
    position: fixed;
    z-index: 9;
    top: 0px;
    backdrop-filter: blur(4px);
    background-color: #041222e6;
    border-bottom: solid 0.5px #d8d8d823;
    box-shadow: 0px 2px 40px 2px #32323230;
    right: 0;
    width: calc(100% - 100px);
}

.search-bar input:focus,
.search-bar:has(> #search:focus){
    max-width: 320px;
}

.search-bar,
.search-bar input{
    width: 100%;
    max-width: 160px;
    transition: all 0.15s ease-out;
}

.search-bar input {
    height: 30px;
    display: flex;
    border: none;
    border: none;
    border-radius: 8px;
    font-family: var(--body-font);
    font-size: 14px;
    font-weight: 500;
    padding: 0 40px 0 16px;
    color: #fff;
    background: transparent;
}

.commu-list > summary {
    background-color: transparent!important;
    border: 1px solid #80808044!important;
    text-align: center!important;
    padding: 2px 26px!important;
    height: 34px!important;
    border-radius: 20px!important;
}
.commu-list {
    margin: 0 0 0 1.4%;
}
.commu-img{
    width: 22px;
    height: 22px;
    object-fit: cover;
    border-radius: 50%;
    margin: -4px 5px 0px 0;
}

.user-settings {
    display: flex;
    align-items: center;
    padding-left: 20px;
    flex-shrink: 0;
    margin-left: auto;
}

.user-settings svg {
    width: 10px;
    flex-shrink: 0;
}

@media screen and (max-width: 575px) {
    .user-settings svg {
        display: none;
    }
}

.user-settings .notify {
    position: relative;
}

.user-settings .notify svg {
    width: 20px;
    margin-left: 24px;
    flex-shrink: 0;
}

.user-settings .notify .notification {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #ec5252;
    position: absolute;
    right: 1px;
    border: 1px solid var(--theme-bg);
    top: -2px;
    animation: glowingFade 1.5s infinite;
}

header a, a.alt {
    font-family: Kross Neue Grotesk;
    font-size: 0.85em;
    font-weight: 900;
    margin: 0 20px;
    letter-spacing: -0.02em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--c-white);
    transition: color 0.07s ease-out;
}

header a:hover, a.alt:hover{
    color: var(--c-stellar);
}


@keyframes glowingFade {
  0% {
    box-shadow: 0 0 5px rgba(236, 82, 82, 0.7), 0 0 20px rgba(236, 82, 82, 0.7);
  }
  50% {
    box-shadow: 0 0 10px rgba(236, 82, 82, 0.9), 0 0 30px rgba(236, 82, 82, 0.9);
  }
  100% {
    box-shadow: 0 0 5px rgba(236, 82, 82, 0.7), 0 0 20px rgba(236, 82, 82, 0.7);
  }
}

@media screen and (max-width: 575px) {
    .user-settings .notify .notification {
        display: none;
    }
}

.user-img {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 50%;
}

.user-name {
    color: #fff;
    font-size: 14px;
    margin: 0 6px 0 12px;
}

@media screen and (max-width: 575px) {
    .user-name {
        display: none;
    }
}

@media screen and (max-width: 475px) {
    .header {
        padding: 10px;
    }
}