menu {
    width: 100%;
    z-index: 0;
    height: 100%;
    gap: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px;
    margin: 0;
  }

  nav {
    justify-content: left;
    height: 100%;
  }

  menu .menu-details {
    display: none;
  }

  menu .expand{
    background: none;
    margin: 0;
  }

  menu .topMenu{
    max-width: 100px;
  }

  menu .topMenu button{
    text-align: center;
    width: 100%;
    padding: 10px 5px;
    min-width: 100%;
  }

  menu ul {
    background: #071b327d;
    backdrop-filter: blur(0.7px);
    border-radius: var(--bor-radius);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
    border: solid 1px #8c8a952b;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0!important;
    align-items: center;
  }
  
  menu ul li {
    list-style: none;
    margin: 0.2em 0;
    position: relative;
    color: #8c8a95;
    width: 100%;
    text-align: center;
  }
  
  menu ul li a:not(.navbar__logo--sm) {
    font-size: 24px;
    color: #8c8a95;
    text-decoration: none;
    transition: all 0.3s;
  }
  
  menu ul li a:not(.navbar__logo--sm)::before {
    position: absolute;
    content: "";
    bottom: 5px;
    left: 6px;
    width: 0px;
    height: 2px;
    background: var(--c-stellar);
  }
  
  menu ul li:hover a:not(.navbar__logo--sm)::before {
    width: 30px;
    transition: all 0.3s;
  }
  
  menu ul li.active a:not(.navbar__logo--sm)::before {
    width: 20px;
    transition: all 0.3s;
  }
  
  menu ul li.active a:not(.navbar__logo--sm) {
    color: var(--c-stellar)
  }
  
  menu ul li:hover a:not(.navbar__logo--sm) {
    color: var(--c-stellar);
  }
  
  .lastMenu {
    margin-top: auto;
  }
  
  @media only screen and (max-width: 525px) {
    menu {
      min-width: 68px;
    }
  }

a.navbar__logo--sm{
    display: block;
    width: 48px;
    height: 52px;
    margin: 0 auto;
    background-image: var(--img-logo);
    background-size: 100%;
    background-position: center;
}


li.communities {
    width: 100%;
    /* background: white; */
}

.communities > details {text-align: left;}

.communities summary {
    justify-content: center!important;
    background: none;
    background-color: none;
    background: none!important;
    border: solid 2px #ffffff29!important;
    width: fit-content;
    text-align: center!important;
    margin: 0px auto!important;
    padding: 5px 5px!important;
    border-radius: 50%!important;
}

.communities > details > summary:after {
    margin: auto auto;
    margin: 21%;
    aspect-ratio: 1/1;
    width: 40px;
    height: auto;
}

.sidebar.expanded menu{
  width: 100%;
}

.sidebar.expanded menu ul{
  align-items: flex-start;
  /* padding: 0 1rem; */
  padding: 0;
}

.sidebar.expanded .topMenu{
  align-self: flex-start;
}

.tooltip-wrapper{
  justify-content: left;
}

.sidebar.expanded .tooltip-wrapper{
  width: 100%;
  justify-content: left;
}

.sidebar.expanded .tooltip-children,
.sidebar.expanded .tooltip-children li,
.sidebar.expanded .tooltip-children li a{
  width: 100%;
  text-align: left;
  white-space: nowrap;
}

.sidebar.expanded menu ul li:hover a:not(.navbar__logo--sm)::before {
  width: 90%;
}

.sidebar.expanded .menu-details {
  display: inline;
  margin-left: 8px;
  vertical-align: middle;
}

.sidebar.expanded .tooltip{
  display: none;
}

.menu-submenu {
  display: none;
  max-height: 190px;
  overflow-y: auto;
  background: #0a121a;
  padding: 10px 7px;
}

.menu-submenu a {
  width: 100%;
  background: #030a10;
  margin: 3px 0;
  padding: 10px 10px;
}

.sidebar.expanded .menu-submenu{
  display: block;
}

.expand-button{
    margin-right: 5px;
    color: #8c8a95;
    font-weight: bold;
    font-size: 19px;
    display: none;
    text-decoration: none;
}

.sidebar.expanded .expand-button{
  display: initial;
}

.expanded-menu{
  background-color: #000102;
  max-height: 8em;
  overflow-x: hidden;
  overflow-y: auto;
  border: none;
}

.sidebar.expanded .expanded-menu ul > li {
  margin: 0;
  padding: 12px 4px;
}

.sidebar.expanded .expanded-menu ul > li a {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}