.player {
    z-index: 99;
    bottom: 0px;
    max-height: 100px;
    left: 0px;
    width: 100%;
    background: var(--g-bg);
}

.player-info {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-flow: row;
}

.cover-art {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%);
    width: 30%;
    height: 100%;
    background-size: cover;
    background-image: linear-gradient(to right, rgb(1, 14, 25) 15%, rgba(0, 0, 0, 0) 50%, rgb(1, 8, 14) 85%), url("https://i1.sndcdn.com/artworks-000185765449-jzw0x0-t500x500.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    backdrop-filter: blur(10px);
    z-index: -1;
    opacity: 0.3;
}

.track-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
}

.track-title {
    font-size: 1.5rem;
    font-weight: 700;
}

.artist-name {
    font-size: 1rem;
}

.play-pause-btn {
    position: relative;
    border: 1px solid white;
    margin: 8px 0px;
    padding: 1.1rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.play-pause-btn::before {
    content: "";
    position: absolute;
    width: 10px;
    border-left: 2px solid white;
    border-right: 2px solid white;
    height: 40%;
}

.progress-bar-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 2px;
    background: rgb(51, 51, 51);
}

.progress-bar {
    background: rgb(11, 132, 255);
    height: 100%;
    width: 50%;
}

.progress-circle {
    position: absolute;
    top: -6px;
    left: 50%;
    background: radial-gradient(#0b84ff 40%, white 50%, #0b84ff 65%);
    border-radius: 50%;
    box-shadow: #3077dc94 0px 0px 7px 2px;
    width: 15px;
    height: 15px;
}

.previous, .next {
    border: 1px solid rgba(80, 80, 80, 0.38);
    width: 12%;
    background: linear-gradient(to right, #000000e6 18%, #091934b3 50%, #000000e6 82%), url(https://i1.sndcdn.com/artworks-4M8Pdy26s3O4w2a8-9vYOyA-t500x500.jpg);
    z-index: 1;
    text-align: center;
    margin-top: -17px;
}

.next {
    border-left: 2px solid rgba(255, 255, 255, 0.55);
    height: 100%;
    transform: skew(-8deg);
}

.next h1,
.previous h1{
    font-size: 1.2em!important;
    opacity: 0.8;
    margin-top: 0;
}

.next .play-pause-btn
{
    transform: skew(8deg);
}
.previous .play-pause-btn{
    transform: skew(-8deg);
}

.next h1{
    text-align: left;
    margin-left: 10px;
}

.previous h1{
    text-align: right;
    margin-right: 10px;
}

.next-info{
    text-align: left;
    margin-left: 10px;
}

.next-info, .previous-info{
    font-size: 15px;
    display: flex;
    align-items: stretch;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 0px;
}

.next-info .text, .previous-info .text{
    max-width: 128px; /* Set the maximum width */
    overflow: hidden; /* Hide the text exceeding the maximum width */
    white-space: nowrap; /* Prevent text from wrapping */
    text-overflow: ellipsis; /* Display three dots (...) when text overflows */
}

.previous-info{
    text-align: right;
    margin-right: 10px;
}

.previous {
    border-right: 2px solid rgba(255, 255, 255, 0.55);
    transform: skew(8deg);
}

.previous .track-title, .next .track-title {
    font-size: 1rem;
    font-weight: 700;
}

.previous .artist-name, .next .artist-name {
    font-size: 0.875rem;
}
