.player{
    position: fixed;
    z-index: 99;
    bottom: 0px;
    max-height: 100px;
    left: 0;
    width: 100%;
    background: var(--g-bg);
}
.player-info{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
}
.cover-art {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
    height: 100%;
    background-size: cover;
    background-image: linear-gradient(to right, #010e19 15%, #0000 50%, #01080e 85%), url(https://i1.sndcdn.com/artworks-000185765449-jzw0x0-t500x500.jpg);
    background-repeat: no-repeat;
    background-position: center;
    backdrop-filter: blur(10px);
    z-index: -1;
    opacity: 0.3;
}
.track-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
}
.track-title {
    font-size: 1.5rem;
    font-weight: bold;
}
.artist-name {
    font-size: 1rem;
}
.play-pause-btn {
    position: relative; /* Adding position relative for positioning the ::before pseudo-element */
    border: 1px solid white;
    margin: 8px 0;
    padding: 1.1rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.play-pause-btn::before {
    content: '';
    position: absolute;
    width: 10px;
    border-left: solid 2px white;
    border-right: solid 2px white;
    height: 40%;
}

.progress-bar-container {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #333;
}
.progress-bar {
    background: #0B84FF;
    height: 100%;
    width: 50%;
}
.progress-circle {
    position: absolute;
    top: -4px;
    left: 50%;
    background: #0B84FF;
    border-radius: 50%;
    width: 12px;
    height: 12px;
}
.previous, .next {
    border: solid 1px #50505061;
    width: 12%;
    background: black;
    z-index: 1;
    text-align: center;
    background-image: linear-gradient(to right, #010e19 15%, #0000 50%, #01080e 85%), url(https://i1.sndcdn.com/artworks-000185765449-jzw0x0-t500x500.jpg);
}
.next{
    border-left: solid 2px rgba(255, 255, 255, 0.548);
    transform: skewX(-8deg) scale(1.08);
}
.previous{
    border-right: solid 2px rgba(255, 255, 255, 0.548);
    transform: skewX(8deg) scale(1.08);
}
.previous .track-title, .next .track-title {
    font-size: 1rem;
    font-weight: bold;
}
.previous .artist-name, .next .artist-name {
    font-size: 0.875rem;
}