/* ====================== */
/*      Default Rules     */
/* ====================== */

body, html {
  font-family: "CentraNo1", sans-serif;
  line-height: 1.5;
  height: 100%;
  display: flex;
  background: var(--g-bg);
  flex-direction: column;
  overflow: hidden;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* -------------------- */
/*    Utility Classes   */
/* -------------------- */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.container {
  /* display: flex;
  flex: 1; */
  /* padding-inline: 2em; */
  /* max-width: 80rem; */
  /* padding: 0.5rem; */
  overflow: hidden;
  background-color: var(--c-black);
  padding: 0;
  margin-inline: auto;
  width: 100%;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: .28fr 2fr .2fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.sidebar {
  flex: var(--sidebar-width);
  margin: 0 0.2rem;
  border-radius: 0.5rem;
  transition: flex 0.3s;
  grid-area: 1 / 1 / 4 / 2;
  width: 100px;
}

.sidebar{
  transition: all ease-in-out 0.2s!important;
}

.sidebar.expanded{
  width: 250px;
  grid-column: auto;
}

.main-content {
  flex: 0.94;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  grid-area: 2 / 2 / 3 / 3;
  padding: 0rem 1rem;
  border-radius: 0.5rem;
  /* background: url(/backw.png); */
  padding-bottom: 6rem;
}

.mainContent{
  width: 100%;
  height: 100%;
  padding: 2rem 1rem;
  margin: auto;
}

.player {
  background-color: yellow;
  bottom: 0;
  position: relative;
  grid-area: 3 / 2 / 4 / 3;
  width: 100%;
}

.container,
.container-fluid {
  margin-right: initial;
  margin-left: initial;
  max-width: initial;
  padding-left: initial;
}
@media (min-width:576px) {
  .container {
    max-width: initial;
  }
}
@media (min-width:768px) {
  .container {
    max-width: initial;
  }
}
@media (min-width:992px) {
  .container {
    max-width: initial;
  }
}
@media (min-width:1200px) {
  .container {
    max-width: initial;
  }
}
