extends layout

block variables
  - let title = 'Stellar - Home'

block layout-content
      include components/layout/homechungus.pug

      div.lcol
      div.rcol
        div.rcol-content
          div.Message
            div.Title
              h1 Stellar Index
            div.Box
              div.box-inner
                div.capimg
                  span.Test 
                  h2.Test 