extends layout

block variables
  - let title = 'Stellar - Home'

block layout-content
      include components/layout/homechungus.pug
      
      div#tagl1
        .row.mt-s
          .col-md-7.col-12.align-center
            h1.mb-s
              | Get Started
            span.disp-block Stellar has these 4 main features :