//- v1/v2 : threeJS landing component

block variables
doctype html
html
  head
    meta(charset="utf-8")
    link(rel="shortcut icon", href="/favicon.ico")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color", content="#000000")
    link(rel="stylesheet", href="style.css")
    link(rel="stylesheet", href="home-chungus.css")
    link(rel="stylesheet", href="background-visuals.css")
    link(rel="stylesheet", href="grid.css")
    link(rel="stylesheet", href="display.css")
    link(rel="stylesheet", href="margin.css")
    link(rel="stylesheet", href="alignement.css")
    link(rel="stylesheet", href="typo.css")
    link(rel="stylesheet", href="button.css")
    link(rel="stylesheet", href="fnt-kross.css")
    link(rel="stylesheet", href="fnt-zona.css")
    title #{title}
  body
    div#root
      block header
        include components/layout/header
      block layout-content