header
    div.header__links
        div.header__links__left
            div.header__links__item
                a Explore
            div.header__links__item
                a Latest
            div.header__links__item
                a Grabber
        div.header__links__middle
            div.header__links__logo
                img(src="", alt="", srcset="")
        div.header__links__right
            div.header__links__item
                a Log In
            div.header__links__item
                a About
            div.header__links__item
                a GitHub
    div#header__bubbles(style="display: none;")
        div.header__bubble
        div.header__bubble