header
  .navbar
    .navbar__left
      a.navbar__logo--sm(href, title="Logo")
    .navbar__middle
      a.navbar__link(href="https://instagram.com/lvii_l").
        
        Instagram
        
      a.navbar__link(href="https://prnt.sc/m0I9HaButGBr").
        
        Discord
        
      a.navbar__link(href="https://github.com/LifestreamVII").
        
        GitHub
        
    .navbar__right(style="width: 30px; height: 30px;")
      a(href="https://open.spotify.com/playlist/2ea7DN0EPPOIRBELGqkmdR?si=139602bfbeaa4d34")
        img.navbar-logo(src="https://blog.boostcollective.ca/hs-fs/hubfs/Spotify%20Logo%20PNG%20With%20Drop%20Shadow.png?width=400&name=Spotify%20Logo%20PNG%20With%20Drop%20Shadow.png", alt, srcset)