.home-chungus.background-pic-wide
  div.gradient-overlay
  video(loop, autoplay, muted, preload="auto", poster="myposter.png")
    //  <source id="mp4" src="mp4sauce.mp4" type="video/mp4"> 
    source#webm(src="backhome.webm", type="video/webm")
  .row.vertical-align-relative
    .col-md-7.col-12.align-center
      h1.mt-none.mb-s
        | Got a project idea ?
        br
        | We've got music for it !

      span.disp-block Stellar is a platform where you can listen to and download copyright-free EDM music.
      span.disp-block Tagline very much subject to changes
      div.mt-m
        a.btn-stellar.btn-primary.mr-s Get started
        a.btn-stellar.btn-secondary Learn more