.background-pic-wide{
    width: 100%;
    height: 100%;
    background-color: black;
    margin: 0;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.gradient-overlay::after{
    position: absolute;
    top: 0;
    z-index: 1;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background: linear-gradient(90deg, rgba(2,0,36,0.23853291316526615) 0%, rgba(0,136,193,1) 100%);
}

.background-pic-wide > img,
.background-pic-wide > video {
    position: absolute;
    top: 0;
    z-index: 0;
    left: 1px;
    z-index: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.background-pic-wide div:not(.gradient-overlay){
    position: relative;
    z-index: 2;
}