.btn-stellar{
    border-radius: 100px;
    padding: 13px 38px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: none;
    transition: transform 0.4s ease-in-out;
    display: inline-block;
    cursor: pointer;
}
.btn-primary{
    background: linear-gradient(180deg, #00BCF9 0%, #008FF2 51.56%, #0166EB 100%);
}
a.btn-stellar,
.btn-stellar span{
    font-family: 'Zona Pro';
    font-style: normal;
    font-weight: 600;
    text-rendering: geometricPrecision;
    font-size: 17.2px;
    text-align: center;
    color: #FFFFFF;
}
.btn-primary:hover{
    transform: scale(1.08);
}
.btn-secondary{
    position: relative;
    background-color: #ffffff09;
}
.btn-secondary::after {
    content: "";
    position: absolute;
    width: calc(100% - 4px);  
    height: calc(100% - 4px);  
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin: auto;
    border-radius: inherit;
    box-shadow: -20px 0px 10px 5px #00BCF9,
                 20px 0px 10px 10px #0166EB;  
}