.disp-block{
    display: block;
}
.disp-in-block{
    display: inline-block;
}
.disp-in{
    display: inline;
}
.disp-flex{
    display: flex;
}
.disp-none{
    display: none;
}
.disp-grid{
    display: grid;
}
.disp-table{
    display: table;
}
.hidden{
    visibility: hidden;
}
.visible{
    visibility: visible;
}
.transparent{
    opacity: 0;
}
.opaque{
    opacity: 1;
}