@font-face {
    font-family: 'NewRodinPro';
    src: url('type/newrodin/NewRodinPro-EB.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NewRodinPro';
    src: url('type/newrodin/NewRodinPro-M.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NewRodinPro';
    src: url('type/newrodin/NewRodinPro-UB.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NewRodinPro';
    src: url('type/newrodin/NewRodinPro-DB.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NewRodinPro';
    src: url('type/newrodin/NewRodinPro-B.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NewRodinPro';
    src: url('type/newrodin/NewRodinPro-L.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}