
/* Margin NONE */
.m-none {
    margin:0;
}
.mb-none {
    margin-bottom:0px!important;
}
.mt-none {
    margin-top:0px!important;
}
.ml-none {
    margin-left:0px!important;
}
.mr-none {
    margin-right:0px;
}

/* Margin XS */
.mr-es {
    margin-right:10px!important;
}
.mt-es {
    margin-top:10px!important;
}
.mb-es {
    margin-bottom:10px!important;
}
.ml-es {
    margin-left:10px!important;
}
.mr-xs {
    margin-right: 4px!important;
}
.ml-xs {
    margin-left: 4px!important;
}

/* Margin S */
.mt-s {
    margin-top:20px!important;
}
.mb-s {
    margin-bottom:20px!important;
}
.ml-s {
    margin-left:20px!important;
}
.mr-s {
    margin-right:20px!important;
}

/* Margin M */
.m-m {
    margin:45px!important;
}
.mt-m {
    margin-top:45px!important;
}
.mb-m {
    margin-bottom:45px!important;
}
.ml-m {
    margin-left:45px!important;
}
.mr-m {
    margin-right:45px!important;
}   

/* Margin L */
.m-l {
    margin:80px!important;
}
.mt-l {
    margin-top:80px!important;
}
.mb-l {
    margin-bottom:80px!important;
}
.ml-l {
    margin-left:80px;
}
.mr-l {
    margin-right:80px;
}

/* Margin XL */
.m-xl {
    margin:30px!important;
}
.mt-xl {
    margin-top:120px;
}
.mb-xl {
    margin-bottom:120px;
}
.ml-xl {
    margin-left:120px;
}
.mr-xl {
    margin-right:120px;
}

/* Padding NONE */
.pb-none {
    padding-bottom:0px!important;
}
.pt-none {
    padding-top:0px!important;
}
.pl-none {
    padding-left:0px!important;
}
.pr-none {
    padding-right:0px!important;
}

/* Padding XS */
.pt-es {
    padding-top:10px!important;
}
.pb-es {
    padding-bottom:10px!important;
}

/* Padding S */
.pt-s {
    padding-top:20px!important;
}
.pb-s {
    padding-bottom:20px!important;
}
.pl-s {
    padding-left:20px!important;
}
.pr-s {
    padding-right:20px!important;
}

/* Padding M */
.p-m {
    padding:10px!important;
}

/* Padding L */
.p-l {
    padding:80px!important;
}
.pt-l {
    padding-top:80px!important;
}
.pt-m {
    padding-top:28px!important;
}
.pl-m {
    padding-left:28px!important;
}
.pr-m {
    padding-right:28px!important;
}
.pb-m {
    padding-bottom:28px!important;
}
.pb-l {
    padding-bottom:80px!important;
}
.pl-l {
    padding-left:80px!important;
}
.pr-l {
    padding-right:80px!important;
}
.pt-ml{
    padding-top: 38px!important;
}
.pb-ml{
    padding-bottom: 38px!important;
}
.pl-ml{
    padding-left: 38px!important;
}
.pr-ml{
    padding-right: 38px!important;
}

/* Padding XL */
.p-xl {
    padding:120px!important;
}
.pt-xl {
    padding-top:120px!important;
}
.pb-xl {
    padding-bottom:120px!important;
}
.pl-xl {
    padding-left:120px!important;
}
.pr-xl {
    padding-right:120px!important;
}