@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: white;
    /* height: 100%; */
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Product Sans";
    background: rgb(23,48,66);
    background: linear-gradient(180deg, rgba(23,48,66,1) 0%, rgba(23,44,61,1) 50%, rgba(21,37,51,1) 100%);
}

#root{
    box-shadow: #00000045 0px 0px 10px 6px;
    margin: 0 auto;
    width: 92vw;
    background: rgb(3,13,24);
    background: radial-gradient(66.48% 69.94% at 29.02% 40.68%, #001220 0%, #030303 100%) 
}