/*************************************/
/**********   C.02 Header   **********/
/*************************************/

header{
    height: 70px;
    top: 0;
    width: inherit;
    z-index: 10;
    position: fixed;
    /* border-bottom: solid 2px #0000001c; */
    /* background: linear-gradient(0deg,#005eb18a 3.37%, #006ccca8 87.74%); */
    /* background: linear-gradient(0deg,#005eb126 3.37%, #006ccc54 87.74%); */
    background: linear-gradient(0deg,#005eb100 3.37%, #006dcc00 87.74%);
    /* V.1 : */
    /* background: rgb(3 39 66 / 83%); */
    /* background: linear-gradient(180deg, rgb(3 39 66 / 60%) 0%, rgb(5 26 45 / 75%) 50%, rgb(1 25 41 / 75%) 100%); */
}

#header__bubbles{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.header__bubble{
    display: block;
    background-color: #063C6C;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    margin: 0;
}

.header__bubble:nth-child(2){
    background-color: #063c6c8e;
}

.header__links{
    align-items: center;height: 100%;display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.header__links__middle, .header__links__left, .header__links__right {
    display: flex;
    height: 100%;
    flex-flow: row nowrap;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.header__links__item, .header__links__btn {
    cursor: pointer;
    padding: 24px;
    height: 100%;
    border-bottom-width: 2px;
    border-color: transparent;
    font-size: 0.9em;
    transition: border 0.15s linear;
}

.header__links__item:hover {
    border-color: white;
    border-bottom-style: solid;
}

.header__links__item a{
    font-size: 15px;
    color: white;
    font-weight: 400;
}