body{
    font-family: 'Kross Neue Grotesk';
}

h1{
    font-size: 40px;
    margin-bottom: 40px;
    font-style: italic;
    text-transform: uppercase;
    margin-top: 50px;
    font-weight: 900;
    letter-spacing: -1px;
    text-align: center;

}
h2{
    margin-bottom: 45px;
    font-size: 30px;
}
h3{
    margin: 6px 0;
    font-size: 27px;
    font-weight: 600;
}
h4{
    font-weight: 400;
    font-size: 25px;
    line-height: 40px;
}
h5{
    font-weight: 600;
    font-size: 19px;
}

span{
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}

p{
    margin-top: 10px;
    font-size: 17px;
    text-align:left;
    margin-bottom: 10px;
}
p.small{
    font-size: 12px;
    line-height: 15px;
}

a{
    font-size: 15px;
    font-weight: 400;
}


.fs-es{
    font-size: 11.5px!important;
}

.fs-ms{
    font-size: 13px!important;
    font-weight: 300;
}

.fs-s{
    font-size: 14px!important;
    font-weight: 300;
}

.fs-m{
    font-size: 15px!important;
}

.fs-n{
    font-size: 18px!important;
}

.fs-l{
    font-size: 20px!important;
    font-weight: 300;
}

.fs-xl{
    font-size: 25px!important;
    font-weight: 300;
}

.fs-xxl{
    font-size: 50px!important;
}

.fs-45{
    font-size: 45px!important;
}

.fs-h1 {
    font-size: 40px!important;
}

.fs-h2 {
    font-weight: 400!important;
    font-size: 30px!important;
}

.fw-light{
    font-weight: 300;
}

.fw-mibold{
    font-weight: 400;
}

.fw-bold{
    font-weight: 600!important;
}

.fw-ultrabold{
    font-weight: 900!important;
}