.main-container{
  width: 100%;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.horizontal-scroller > .content{
  display: grid;
  z-index: 2;
  min-width: 100%;
  gap: 5px;
  grid-auto-flow: column;
  grid-auto-columns: 18%;
  padding: 40px 1em;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 10px, 1rem;
  scroll-snap-align: start;
}

.horizontal-scroller {
  position: relative;
  z-index: 1;
}

.horizontal-scroller::after{
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  display: block;
  right: -12px;
  bottom: 0;
  width: 53px;
  margin-left: auto;
  background: linear-gradient(to right, rgb(0 0 0 / 0%), rgb(0 0 0));
  pointer-events: none;
  z-index: 4;
}

.horizontal-scroller .single{
  border-radius: 20px;
  background-color: gray;
  position: relative;
  aspect-ratio: 1/1;
  width: auto;
  height: 200px;
}

.single > .single-info .community-icon {
  margin-left: auto;
  position: absolute;
  text-align: right;
  top: -20px;
  right: 10px;
}
.single > .single-info .community-icon > .community-icon-circle {
  width: 40px;
  height: 40px;
  padding: 4%;
  border: solid 2px var(--c-stellar);
  border-radius: 50%;
}
.single > .single-info .community-icon > .community-icon-circle > img{
  border-radius: 50%;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.single-charas, .single-info{
  width: 100%;
  height: 100%;
  box-shadow: #292929b3 0px 6px 20px 9px inset;
}
.single-charas{
  position: relative;
  z-index: 1;
}

.single-charas-content{
  position: absolute;
  padding: 5px 0px;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: auto;
  background-color: #081f35b8;
}

.single-charas .single-artist span{
  color: #bebebe;
  font-weight: 600;
  font-family: inherit;
}

.single-artist, .single-title, .single-stats{
  padding: 0px 5px;
}

.single-charas .single-title, .single-charas .single-title > span{
  line-height: 16px;
  color: #d0d0d0;
}  

.single-stats {
  margin-top: auto;
  width: 100%;
  text-align: left;
  color: gray;
}

.single-stats > div{
  display: inline;
  font-weight: 500;
  margin: 0 4px;
  font-size: 0.7em;
}

.single-stats > div:nth-of-type(1){
  margin-left: 0;
}

.single .album-cover{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
  height: 100%;
}
.single > .album-cover > img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.single {
  position: relative;
  background-color: gray;
  border-radius: 20px;
  overflow: hidden;
  transition: 0.4s;
}

.single-title {
  color: #fff;
  font-size: 16px;
  vertical-align: middle;
  padding: 5px 10px;
  width: 100%;
  background-color: #8080806f;
  z-index: 9;
  position: relative;
}

.single:hover {
  position: relative;
  z-index: 2;
  transform: scale(1.1);
  transition: 0.4s;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}